@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

#root {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Manrope", sans-serif;
}

@theme {
  --animate-eq-slow: equalize 1.2s ease-in-out infinite;
  --animate-eq-medium: equalize 0.9s ease-in-out infinite;
  --animate-eq-fast: equalize 0.8s ease-in-out infinite;

  @keyframes equalize {
    0%,
    100% {
      transform: scaleY(0.6);
    }
    50% {
      transform: scaleY(1);
    }
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d87d4a;
  border-radius: 30px;
}
